@import './reset';
@import './themes/light';
@import './themes/dark';
@import '../variables/global';

/* stylelint-disable */
html {
    background: #fbf4cd;
}

.app {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}
