.CityList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    animation: show 1s 1 linear;
    
    h2 {
        font: var(--font-xl);
        font-weight: bold;
        margin: 15px 0;
    }
}
@keyframes show {

    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}