.CurrentWeatherInfo {
    display: flex;
    justify-content: space-between;
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    &__infoWrapper {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
            font: var(--font-24);
            color: var(--text-color);
        }
    }
}