.CurrentWeatherInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, 55px);
    justify-content: space-between;
    gap: 10px;
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        span {
            font: var(--font-24);
            color: var(--text-color);
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}