.ForecastAdder {
    max-width: var(--card-max-width);
    width: 100%;
    height: var(--card-height);
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--windows-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 50px;
    animation: show 1s ease 1;
    position: relative;
    user-select: none;
    
    h2 {
        text-transform: uppercase;
        font: var(--font-30);
        color: var(--text-color);
        user-select: none;
        font-weight: bold;
    }
    
    img {
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        width: calc(100% - 50px);
    }
    
    &__plus {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;
        background: var(--circle-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        border: none;
        
        span {
            position: absolute;
            border-radius: 16px;
            transition: all 0.3s linear;

            &:first-child {
                width: 145px;
                height: 15px;
                background: var(--first-plus-bg);
            }
    
            &:last-child {
                width: 15px;
                height: 145px;
                right: 50%;
                transform: translateX(50%);
                background: var(--second-plus-bg);
            }
        }
        
        &:hover {
            transform: scale(1.05);
        }
        
        &:active {
            transform: scale(1);
            opacity: 0.8;
        }
    }
}
@keyframes show {

    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}