.ForecastAdder {
    max-width: 450px;
    max-height: 700px;
    position: relative;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 50px;
    
    h2 {
        text-transform: uppercase;
        font-size: 35px;
        color: var(--text-color);
        user-select: none;
    }
    
    &__plus {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;
        background: var(--plus-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        
        span {
            position: absolute;
            border-radius: 14px;
            transition: all 0.3s linear;

            &:first-child {
                width: 145px;
                height: 15px;
                background: var(--first-plus-bg);
            }
    
            &:last-child {
                width: 15px;
                height: 145px;
                right: 50%;
                transform: translateX(50%);
                background: var(--second-plus-bg);
            }
        }
        
        &:hover {
            transform: scale(1.05);

            :first-child {
                transform: rotate(-90deg);
            }
            
            :last-child {
                transform: translateX(50%) rotate(90deg);
            }
        }
        
        &:active {
            transform: scale(1);
            opacity: 0.8;
        }
    }
    
    img {
        max-width: 400px;
        max-height: 300px;
        user-select: none;
    }
}