.ForecastAdder {
    width: var(--card-max-width);
    height: var(--card-height);
    position: relative;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--windows-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 50px;
    
    h2 {
        text-transform: uppercase;
        font: var(--font-30);
        color: var(--text-color);
        user-select: none;
        font-weight: bold;
    }
    
    &__plus {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;
        background: var(--plus-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        
        span {
            position: absolute;
            border-radius: 16px;
            transition: all 0.3s linear;

            &:first-child {
                width: 145px;
                height: 15px;
                background: var(--first-plus-bg);
            }
    
            &:last-child {
                width: 15px;
                height: 145px;
                right: 50%;
                transform: translateX(50%);
                background: var(--second-plus-bg);
            }
        }
        
        &:hover {
            transform: scale(1.05);
        }
        
        &:active {
            transform: scale(1);
            opacity: 0.8;
        }
    }
    
    img {
        max-width: 400px;
        max-height: 300px;
        user-select: none;
    }
}