.NextDaysForecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    justify-content: space-between;
    gap: 10px;
    
    &__item {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }
    
    h2,
    span {
        color: var(--text-color);
    }
    
    h2 {
        font: var(--font-24);
    }
    
    span {
        font: var(--font-24);
    }
}