.Button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
    user-select: none;
    
    &:disabled {
        opacity: 0.7;
        transform: none;
    }
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.switcher {

    &_lang {
        width: var(--lang-switcher-width);
        color: var(--text-color);
    }

    &_theme {
        width: var(--theme-switcher-width);
        height: 50px;
    }
}

.font {

    &_24 {
        font: var(--font-24);
    }

    &_30 {
        font: var(--font-30);
    }
}

.inputButton {
    height: 100%;
    padding: 0 5px;
    border-radius: 0 16px 16px 0;
    background: white;
    color: var(--button-arrow-color);
        
    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
        opacity: 0.8;
    }
}

.city {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: var(--text-color);
    
        
    &:hover {
        background: var(--city-hover-bg);
    }
        
    &:active {
        opacity: 0.8;
        transform: scale(0.99);
    }
}
