.NotFoundPage {
    position: relative;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background: var(--list-page-bg-color);
    padding: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    
    h2 {
        font: var(--font-40);
        font-weight: bold;
        color: var(--text-color);
    }
}