.Header {
    width: 100%;
    height: var(--header-height);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-bg-color);
    color: var(--text-color);
    
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}