.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    user-select: none;

    &__button {
        width: 55px;
        height: 55px;
        border: 1px solid gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font: var(--font-40);
        background: var(--circle-bg);
        cursor: pointer;
        transition: all 0.1s;
            
        &:hover {
            transform: scale(1.05);
            border: 1px solid white;
        }
        
        &:active {
            transform: scale(1);
            border: 1px solid gray;
            opacity: 0.8;
        }

        &_update {
            animation: update 0.5s linear 1;
        }
    }
}
@keyframes update {

    0% {
        transform: scale(1) rotate(0deg); 
    }

    50% {
        transform: scale(1.1) rotate(-90deg);
    }

    100% {
        transform: scale(1) rotate(-180deg);  
    }
}