.BackToList {
    position: absolute;
    top: 50px;
    left: 50px;
    user-select: none;
    
    button {
        position: relative;
        width: 110px;
        height: 110px;
        background: #2B244D;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.1s linear;
        
        &:hover {
            transform: scale(1.03);
        }
        
        &:active {
            transform: scale(1);
            opacity: 0.8;
        }

        img {
            position: absolute;
            width: 145px;
            height: 100px;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
        }
    }
}
@media(width<= 1300px) {

    .BackToList {
        top: 20px;
        left: 20px;
        
        button {
            width: 70px;
            height: 70px;
    
            img {
                width: 85px;
                height: 60px;
            }
        }
    }
}
@media(width<= 400px) {

    .BackToList {
        top: 20px;
        left: 20px;
        
        button {
            width: 45px;
            height: 45px;
    
            img {
                width: 60px;
                height: 40px;
            }
        }
    }
}