.ForecastCard {
    width: var(--card-max-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--windows-border-radius);
    padding: 25px;
    animation: appear 1s ease 1;
    
    &__name {
        text-transform: uppercase;
        font: var(--font-30);
        color: var(--text-color);
        user-select: none;
        font-weight: bold;   
    }
    
    &__mainImage {
        width: 200px;
        height: 200px;
        position: absolute;
    }
    
    &__temp {
        font: var(--font-120);
        color: var(--temp-color); 
        margin-top: 100px;
    }
    
    &__descr {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font: var(--font-30);
        letter-spacing: 1px;
        color: var(--descr-color);
        text-transform: uppercase;
        text-align: center;
    }
}
@keyframes appear {

    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}