.dark {
    --header-bg-color: #2b244d;
    --box-shadow: 0px 0px 10px 10px rgb(255 255 255 / 20% );
    --window-bg-color: linear-gradient(180deg, #B290FF 0.00%, #2E1D65 100.00%);
    --card-bg-color: linear-gradient(180deg, #00057a 0.00%, #721c87 100.00%);
    --text-color: #F5F4FB;
}