.light {
    --header-bg-color: #F5F4FB;
    --box-shadow: 0px 0px 10px 10px rgb(0 17 255 / 16% );
    --window-bg-color: #F5F4FB;
    --card-bg-color: linear-gradient(180deg, #00057a 0.00%, #721c87 100.00%);
    --text-color: #172231;
}