/* stylelint-disable */
:root {
    --windows-border-radius: 16px;
    
    // fonts
    --font-family-main:  sans-serif;
    --font-size-24: 24px;
    --font-line-32: 32px;
    --font-24: var(--font-size-24) / var(--font-line-32) var(--font-family-main);
    --font-size-30: 30px;
    --font-line-40: 48px;
    --font-30: var(--font-size-30) / var(--font-line-40) var(--font-family-main);
    --font-size-120: 120px;
    --font-line-128: 128px;
    --font-120: var(--font-size-120) / var(--font-line-128) var(--font-family-main);
    
    // header
    --header-height: 90px;
    
    // switchers widths
    --theme-switcher-width: 50px;
    --lang-switcher-width: 50px;   
    
    // card
    --card-max-width: 400px;
    --card-height: 700px;
}