/* stylelint-disable */
:root {
    --windows-border-radius: 16px;
    
    // fonts
    --font-family-main:  sans-serif;
    --font-size-16: 16px;
    --line-heigt-24: 24px;
    --font-16: var(--font-size-16) / var(--line-heigt-24) var(--font-family-main);
    --font-size-20: 20px;
    --line-heigt-28: 28px;
    --font-20: var(--font-size-20) / var(--line-heigt-28) var(--font-family-main);
    --font-size-24: 24px;
    --line-heigt-32: 32px;
    --font-24: var(--font-size-24) / var(--line-heigt-32) var(--font-family-main);
    --font-size-30: 30px;
    --line-heigt-38: 38px;
    --font-30: var(--font-size-30) / var(--line-heigt-38) var(--font-family-main);
    --font-size-40: 40px;
    --line-heigt-48: 48px;
    --font-40: var(--font-size-40) / var(--line-heigt-48) var(--font-family-main);
    --font-size-100: 100px;
    --line-heigt-108: 108px;
    --font-100: var(--font-size-100) / var(--line-heigt-108) var(--font-family-main);
    --font-size-120: 120px;
    --line-heigt-128: 128px;
    --font-120: var(--font-size-120) / var(--line-heigt-128) var(--font-family-main);
    --font-size-130: 130px;
    --line-heigt-138: 138px;
    --font-130: var(--font-size-130) / var(--line-heigt-138) var(--font-family-main);
    
    // header
    --header-height: 90px;
    
    // switchers widths
    --theme-switcher-width: 50px;
    --lang-switcher-width: 50px;   
    
    // card
    --card-max-width: 400px;
    --card-height: 700px;
}