.WeatherDetails {
    position: fixed;
    inset: var(--header-height) 0 0 0;
    width: 100%;
    overflow: auto;
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: appear 1s ease 1; 
}
@keyframes appear {

    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}
