.ForecastList {
    position: fixed;
    inset: var(--header-height) 0 0 0;
    width: 100%;
    overflow: auto;
    padding: 25px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    background: var(--list-page-bg-color);
    box-shadow: var(--page-box-shadow);
}
